<div class="flex flex-col gap-5 m-8">
    <div class="flex gap-5 bg-quaternary p-4">
        <button (click)="goBack()" class="text-xl bg-secondary rounded-md px-4 py-2 font-bold text-white">Back to search</button>
        <button class="text-xl bg-secondary rounded-md px-4 py-2 font-bold text-white">Download</button>
    </div>
    <div class="p-5 bg-white rounded-md w-full flex flex-col gap-5">
        <h2 class="text-3xl">Regional Smart City Development Focus: The South Korean National Strategic Smart City Program</h2>
        <h3 class="text-xl">Yang, J (Yang, Jeyun) [1] ; Kwon, Y (Kwon, Youngsang) [1] , [2] ; Kim, D (Kim, Daehwan) [1] , [3]</h3>
        <div class="flex flex-col">
            <h3 class="text-xl">Volume 14, Issue 1</h3>
            <h3 class="text-xl">December 2024</h3>
            <h3 class="text-xl">Article number 8139</h3>
        </div>
        <p class="text-lg text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet consectetur adipiscing elit duis. Suspendisse faucibus interdum posuere lorem ipsum. Rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. Interdum velit euismod in pellentesque massa placerat duis. Habitasse platea dictumst vestibulum rhoncus est pellentesque. Egestas dui id ornare arcu odio ut sem nulla. Sed vulputate odio ut enim blandit volutpat maecenas volutpat. Et tortor at risus viverra adipiscing at. Enim ut sem viverra aliquet eget sit amet tellus. Ante in nibh mauris cursus mattis molestie a iaculis at. Praesent elementum facilisis leo vel fringilla est ullamcorper eget. Nulla posuere sollicitudin aliquam ultrices sagittis.
Dictumst vestibulum rhoncus est pellentesque elit. Pellentesque adipiscing commodo elit at imperdiet dui accumsan. Et netus et malesuada fames ac. Nunc congue nisi vitae suscipit. Id interdum velit laoreet id donec ultrices tincidunt. Suscipit tellus mauris a diam maecenas sed enim. Nunc lobortis mattis aliquam faucibus. Vel pretium lectus quam id leo. Curabitur gravida arcu ac tortor dignissim. Interdum consectetur libero
        </p>
    </div>
</div>
