<div class="flex flex-col gap-5 m-8">
    <div class="flex gap-5 bg-quaternary p-4">
        <button (click)="goBack()" class="text-xl bg-secondary rounded-md px-4 py-2 font-bold text-white">Back to search</button>
        <button (click)="generateReference()" class="text-xl bg-secondary rounded-md px-4 py-2 font-bold text-white">Cite this article</button>
    </div>
    <div class="p-5 bg-white rounded-md w-full flex flex-col gap-5">
        <h2 class="text-4xl">{{ research.title }}</h2>
        <h3 class="text-2xl">{{ research.authors }}</h3>

        <div>
            <h3 class="text-xl">Journal: {{ research.journal }}</h3>
            <h3 class="text-xl">Volume {{ research.volume }}, Issue {{ research.issue }}</h3>
            <h3 class="text-xl">Pages {{ research.pages }}</h3>
            <h3 class="text-xl">publishedDate: {{ research.publishedDate }}</h3>
        </div>
        
        <div class="flex flex-col gap-2">
            <h2 class="text-2xl">Abstract:</h2>
            <p class="text-lg text-justify">
                {{ research.abstract }}
            </p>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-2xl">Content:</h2>
            <p class="text-lg text-justify">
                {{ research.content }}
            </p>
        </div>
    </div>

    <div *ngIf="reference" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
        <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
          <div class="px-4 pt-5 pb-4 sm:p-6 sm:pb-4 w-full">
            <div class="sm:flex sm:items-start w-full">
              <div class="text-center sm:mt-0 sm:ml-4 sm:text-left w-full">
                <h3 class="leading-6 text-xl text-gray-900 font-bold">
                  Copy reference
                </h3>
                <div class="mt-2">
                  <textarea class="w-full h-full">{{cite}}</textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
            <button (click)="closeReference()" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
              Close
            </button>
            <button (click)="copyReference()" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm">
                {{ copyText }}
            </button>
          </div>
        </div>
      </div>
</div>
