<div class="flex flex-col m-8">
    <div class="mt-5 flex gap-20">
        <div class="w-full flex flex-col gap-5">
            <div class="flex justify-between">
                <p class="text-4xl font-bold">Uploaded investigations</p>
                <button [routerLink]="['/upload']"  type="submit" class="text-lg bg-secondary rounded-md px-4 py-2 font-bold text-white">
                    Upload research
                </button>
            </div>
            <div class="flex flex-col gap-5">
                <p class="text-2xl pb-4 font-semibold">Approved</p>
                <div class="bg-white w-full border rounded-md border-gray-500 p-8 flex flex-col gap-2 cursor-pointer" *ngFor="let approvedResearch of approvedResearchs" (click)="viewResearch(approvedResearch.id)">
                    <h4 class="text-2xl">{{ approvedResearch.title }}</h4>
                    <p class="text-xl">{{ approvedResearch.authors }}</p>
                    <p class="text-xl">{{ approvedResearch.journal }}</p>
                </div>
                <div *ngIf="approvedResearchs.length == 0">
                    <p class="text-xl">No approved researchs</p>
                </div>
            </div>
            <div class="flex flex-col gap-5">
                <p class="text-2xl pb-4 font-semibold">In progress</p>
                <div class="bg-white w-full border rounded-md border-gray-500 p-8 flex flex-col gap-2 cursor-pointer" *ngFor="let pendingResearch of pendingResearchs" (click)="viewResearch(pendingResearch.id)">
                    <h4 class="text-2xl">{{ pendingResearch.title }}</h4>
                    <p class="text-xl">{{ pendingResearch.authors }}</p>
                    <p class="text-xl">{{ pendingResearch.journal }}</p>
                </div>
                <div *ngIf="pendingResearchs.length == 0">
                    <p class="text-xl">No pending researchs</p>
                </div>
            </div>
            <div class="flex flex-col gap-5">
                <p class="text-2xl pb-4 font-semibold">Rejected</p>
                <div class="bg-white w-full border rounded-md border-gray-500 p-8 flex flex-col gap-2 cursor-pointer" *ngFor="let rejectedResearch of rejectedResearchs" (click)="viewResearch(rejectedResearch.id)">
                    <h4 class="text-2xl">{{ rejectedResearch.title }}</h4>
                    <p class="text-xl">{{ rejectedResearch.authors }}</p>
                    <p class="text-xl">{{ rejectedResearch.journal }}</p>
                </div>
                <div *ngIf="rejectedResearchs.length == 0">
                    <p class="text-xl">No rejected researchs</p>
                </div>
            </div>
        </div>
    </div>
</div>
