<h1 class="text-left ml-4 text-4xl pt-8 pb-8">Upload Research</h1>
<div class="border border-gray-400 bg-white rounded-lg p-6 w-2/3 h-96 mx-auto flex flex-col justify-center items-center">
    <img src="https://cdn-icons-png.flaticon.com/512/4481/4481290.png" alt="succesfully" class="w-1/5 h-auto">
    <h1 class="text-3xl pt-14 pb-8">Research uploaded for review</h1>
</div>
<div class="w-2/3 h-15 mx-auto flex justify-center items-center mt-5">
    <button type="submit" class="text-2xl bg-secondary rounded-md text-white p-2 w-1/6 font-bold">Accept</button>
</div>
