<form #myForm="ngForm" (ngSubmit)="uploadResearch(myForm)" class="flex flex-col justify-center items-center w-4/5 absolute left-1/2 -translate-x-1/2">
    <h1 class="text-left w-full text-4xl pt-16 pb-8 ">Upload Research</h1>
    <div class="border border-gray-400 bg-white rounded-lg p-6 w-full mx-auto">
        <div *ngIf="!isUploaded; else successful" class="flex flex-col gap-2">
            <label for="title" class="text-2xl">Title</label>
            <input id="title" name="title" type="text" required [(ngModel)]="researchData.title" #title="ngModel" class="w-full h-9 rounded-md p-2 border border-gray-400" />
            <div *ngIf="myForm.submitted && title.invalid" class="text-red-500">
                Title is required.
            </div>
            <label for="abstract"  class="text-2xl">Abstract</label>
            <textarea id="abstract" name="abstract" [(ngModel)]="researchData.abstractText" #abstract="ngModel" class="w-full h-32 rounded-md p-2 border border-gray-400" required></textarea>
            <div *ngIf="myForm.submitted && abstract.invalid" class="text-red-500">
                Abstract is required.
            </div>
            <label for="content" class="text-2xl">Content</label>
            <textarea id="content" name="content" [(ngModel)]="researchData.content" #content="ngModel" class="w-full h-64 rounded-md p-2 border border-gray-400" required></textarea>
            <div *ngIf="myForm.submitted && content.invalid" class="text-red-500">
                Content is required.
            </div>
        </div>
        <ng-template #successful>
            <div class="flex flex-col justify-center items-center h-96">
                <img src="/assets/successfulUpload.png" alt="succesfully" class="w-1/5 h-2/3">
                <h1 class="text-3xl pt-14 pb-8">Research uploaded for review</h1>
            </div>
        </ng-template>
    </div>
    <div *ngIf="!isUploaded; else successfulButtons" class="w-full h-15 mx-auto flex justify-between items-center mt-5">
        <button type="button" [routerLink]="['/my-research']" class="text-2xl bg-secondary rounded-md text-white p-2 w-1/6 font-bold">Cancel</button>
        <button type="submit" class="text-2xl bg-secondary rounded-md p-2 w-1/6 h-15 font-bold text-white" >Upload</button>
    </div>

    <ng-template #successfulButtons>
        <div class="w-full h-15 mx-auto flex justify-center items-center mt-5">
            <button [routerLink]="['/my-research']" type="button" class="text-2xl bg-secondary rounded-md text-white p-2 w-1/6 font-bold">Accept</button>
        </div>
    </ng-template>
</form>