<div class="flex flex-col justify-center items-center w-4/5 absolute left-1/2 -translate-x-1/2">
    <h1 class="text-left w-full text-4xl pt-16 pb-8 ">Upload Research</h1>
    <div class="border border-gray-400 bg-white rounded-lg p-6 w-full h-96 mx-auto">
        <div class="border border-gray-400 border-dashed p-4 rounded-md text-center h-full">
            <h2 class="text-4xl pt-20 pb-4 font-semibold">Drag file on this area</h2>
            <h2 class="text-3xl font-semibold">or</h2>
            <div class="flex justify-center">
                <button type="button"
                    class="mt-3 text-2xl bg-secondary rounded-md p-2 w-80 h-15 font-bold text-white">Search on the
                    computer</button>
            </div>
        </div>
    </div>
    <div class="w-full h-15 mx-auto flex justify-between items-center mt-5">
        <button type="submit" class="text-2xl bg-secondary rounded-md text-white p-2 w-1/6 font-bold">Cancel</button>
        <button type="submit" (click)="onUpload()" class="text-2xl bg-secondary rounded-md p-2 w-1/6 h-15 font-bold text-white" >Upload</button>
    </div>
</div>