<div class="flex flex-col m-8">
    <div class="mt-5 flex gap-20">
        <div class="w-full flex flex-col gap-5">
            <p class="text-4xl">Uploaded investigations</p>
            <div>
                <p class="text-2xl pb-4">Approved</p>
                <div class="bg-white w-full border rounded-md border-gray-500 p-8 flex flex-col gap-2 cursor-pointer">
                    <h4 class="text-2xl">Regional Smart City Development Focus: The South Korean National Strategic Smart City Program</h4>
                    <p class="text-xl">Jung, Hyun-Sook</p>
                    <p class="text-xl">Journal of Urban Technology</p>
                </div>
            </div>
            <div>
                <p class="text-2xl pb-4">In progress</p>
                <div class="bg-white w-full border rounded-md border-gray-500 p-8 flex flex-col gap-2 cursor-pointer">
                    <h4 class="text-2xl">Regional Smart City Development Focus: The South Korean National Strategic Smart City Program</h4>
                    <p class="text-xl">Jung, Hyun-Sook</p>
                    <p class="text-xl">Journal of Urban Technology</p>
                </div>
            </div>
        </div>
        <div class="mt-32 mr-16">
            <button [routerLink]="['/upload']"  type="submit" class="text-lg bg-secondary rounded-md px-4 py-2 font-bold text-white">
                Upload research
            </button>
        </div>
    </div>
</div>
